.button {
  background-color: var(--color-white);
  padding: 0 0 1rem 0;
  margin: 0;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-bottom: 2px solid var(--color-white);
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:hover,
.button:focus,
.button:disabled {
  border-bottom: 2px solid var(--color-black);
}

.button:disabled {
  cursor: default;
}
