:root {
  --color-bg: #222;
  --color-text: #fff;
  --color-header: #fff;
  --color-white: #fff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: var(--color-text);
}

p {
  text-align: justify;
}

.content {
  max-width: 1200px;
  margin: 2rem auto;
}

.row {
  margin-bottom: 2rem;
}
